<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERROR</title>
</head>
<body>

<header>

</header>

<main>
    <div>
        <h1>ERROR</h1>
        <p>just a bug</p>
    </div>
</main>

<footer>

</footer>

</body>
</html>