<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to XDA firmware download page</title>
    <script src="jquery.min.js" ></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js" ></script>
    <script src="main.js"></script>
    <script src="axios.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/scroller/1.5.0/js/dataTables.scroller.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
    <!-- stylesheet-->
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/scroller/1.5.0/css/scroller.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.6/css/select.bootstrap4.min.css">
    <link rel="icon" href="data:,">
    
</head>
<body>
    <p>Hi !</p>
    <label for="phoneModelId" class="">Enter you phone model, for instance E5803</label>
    <div class="input-group">
        <div class="form-group mx-sm-3 mb-2">
          
          <input type="text" class="form-control col-form-label" id="phoneModelId" value="E5823" placeholder="E5823">
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="phoneModelBtnId">Search</button>
    </div>

    <div>
        <img id="imgId" src="" alt="" >
    </div>
    
    <div>

        
    </div>

<div>
    <table id="deviceServiceInfosId" class="display" style="width:100%">
        <thead>
            <tr>
                <th>CDF</th>
                <th>Customer</th>
                <th>software-version</th>
                <th>release-state</th>
                <th>link</th>
                <th>link-track</th>                
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>CDF</th>
                <th>Customer</th>
                <th>software-version</th>
                <th>release-state</th>
                <th>link</th>
                <th>link-track</th>
            </tr>
        </tfoot>
    </table>
</div>


</body>
</html>